/*--- Avanquest WebEasy Page Style ---*/


.cc06               { /* Common */
	border          :   0.00pt none #cebd97;
	}
.cc07               { /* Common */
	font            : 8pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
div#e25             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            :   0.00pt;
	top             :  65.25pt;
	width           : 745.50pt;
	height          : 219.75pt;
	}
span#e24            { /* images/randsperk004009.g... */
	background      : transparent url(images/randsperk004009.gif) no-repeat top left;
	position        : absolute;
	left            :  43.50pt;
	top             :  66.00pt;
	width           : 702.00pt;
	height          : 189.75pt;
	}
div#e23             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            :   0.00pt;
	top             : 285.00pt;
	width           : 745.50pt;
	height          : 877.50pt;
	}
span#e22            { /* images/randsperk001012.j... */
	background      : transparent url(images/randsperk001012.jpg) no-repeat top left;
	position        : absolute;
	left            :  43.50pt;
	top             :  68.25pt;
	width           : 658.50pt;
	height          : 187.50pt;
	}
div#e21             {
	border          :   0.00pt none #ececec;
	background      : #ffffff url(images/randsperk004008.jpg) no-repeat top left;
	position        : absolute;
	left            :  42.75pt;
	top             : 285.00pt;
	width           : 662.25pt;
	height          : 807.75pt;
	}
span#e20            { /* images/randsperk004007.j... */
	background      : transparent url(images/randsperk004007.jpg) no-repeat top left;
	position        : absolute;
	left            :  43.50pt;
	top             : 262.50pt;
	width           : 123.00pt;
	height          :  22.50pt;
	}
h4#e19              { /* Installation */
	padding-top     :   2.25pt;
	position        : absolute;
	left            :  43.50pt;
	top             : 261.75pt;
	width           : 121.50pt;
	height          :  18.75pt;
	}
div#e18             { /* <DIV>A typical radon sys... */
	color           : #000000;
	text-align      : left;
	position        : absolute;
	left            :  57.00pt;
	top             : 301.50pt;
	width           : 624.75pt;
	height          : 574.50pt;
	}
div#e17             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            :  43.50pt;
	top             :1097.25pt;
	width           : 658.50pt;
	height          :  28.50pt;
	}
span#e16            { /* images/randsperk004006.j... */
	background      : transparent url(images/randsperk004006.jpg) no-repeat top left;
	position        : absolute;
	left            : 467.25pt;
	top             : 540.00pt;
/*	top             : 547.50pt; */
	width           : 132.00pt;
	height          : 148.50pt;
	}
span#e15            { /* images/randsperk004005.j... */
	background      : transparent url(images/randsperk004005.jpg) no-repeat top left;
	position        : absolute;
	left            :  60.00pt;
	top             : 858.75pt;
	width           : 104.25pt;
	height          : 157.50pt;
	}
span#e14            { /* images/randsperk004005.j... */
	background      : transparent url(images/randsperk004005.jpg) no-repeat top left;
	position        : absolute;
	left            : 573.00pt;
	top             : 858.75pt;
	width           : 104.25pt;
	height          : 157.50pt;
	}
span#e13            { /* images/randsperk004004.j... */
	background      : transparent url(images/randsperk004004.jpg) no-repeat top left;
	position        : absolute;
	left            : 252.00pt;
	top             : 858.75pt;
	width           : 237.75pt;
	height          : 157.50pt;
	}
div#e12             { /* The Radon Certification ... */
	position        : absolute;
	left            :  57.75pt;
	top             :1026.00pt;
	width           : 637.50pt;
	height          :  54.75pt;
	}
span#e11            { /* images/randsperk001005.j... */
	background      : transparent url(images/randsperk001005.jpg) no-repeat top left;
	position        : absolute;
	left            : 615.75pt;
	top             :  42.75pt;
	width           :  84.75pt;
	height          :  22.50pt;
	}
div#e10             { /* Contact Us */
	font            : bold 12pt 'Arial', Helvetica, sans-serif;
	padding-top     :   3.75pt;
	position        : absolute;
	left            : 615.75pt;
	top             :  42.75pt;
	width           :  83.25pt;
	height          :  17.25pt;
	}
a#a10               { /* Contact Us */
	font            : bold 12pt 'Arial', Helvetica, sans-serif;
	}
span#e9             { /* images/randsperk001005.j... */
	background      : transparent url(images/randsperk001005.jpg) no-repeat top left;
	position        : absolute;
	left            : 444.75pt;
	top             :  42.75pt;
	width           :  84.75pt;
	height          :  22.50pt;
	}
div#e8              { /* About Radon */
	font            : bold 12pt 'Arial', Helvetica, sans-serif;
	padding-top     :   3.75pt;
	position        : absolute;
	left            : 444.75pt;
	top             :  42.75pt;
	width           :  83.25pt;
	height          :  17.25pt;
	}
a#a8                { /* About Radon */
	font            : bold 12pt 'Arial', Helvetica, sans-serif;
	}
span#e7             { /* images/randsperk001005.j... */
	background      : transparent url(images/randsperk001005.jpg) no-repeat top left;
	position        : absolute;
	left            : 273.75pt;
	top             :  42.75pt;
	width           :  84.75pt;
	height          :  22.50pt;
	}
div#e6              { /* Home */
	font            : bold 12pt 'Arial', Helvetica, sans-serif;
	padding-top     :   3.75pt;
	position        : absolute;
	left            : 273.75pt;
	top             :  42.75pt;
	width           :  83.25pt;
	height          :  17.25pt;
	}
a#a6                { /* Home */
	font            : bold 12pt 'Arial', Helvetica, sans-serif;
	}
span#e5             { /* images/randsperk001004.j... */
	background      : transparent url(images/randsperk001004.jpg) no-repeat top left;
	position        : absolute;
	left            : 530.25pt;
	top             :  43.50pt;
	width           :  84.75pt;
	height          :  22.50pt;
	}
div#e4              { /* Installation */
	font            : bold 12pt 'Arial', Helvetica, sans-serif;
	padding-top     :   3.75pt;
	position        : absolute;
	left            : 530.25pt;
	top             :  43.50pt;
	width           :  83.25pt;
	height          :  17.25pt;
	}
span#e3             { /* images/randsperk001002.j... */
	background      : transparent url(images/randsperk001002.jpg) no-repeat top left;
	position        : absolute;
	left            : 359.25pt;
	top             :  42.75pt;
	width           :  84.75pt;
	height          :  22.50pt;
	}
div#e2              { /* About Us */
	font            : bold 12pt 'Arial', Helvetica, sans-serif;
	padding-top     :   3.75pt;
	position        : absolute;
	left            : 359.25pt;
	top             :  42.75pt;
	width           :  83.25pt;
	height          :  17.25pt;
	}
a#a2                { /* About Us */
	font            : bold 12pt 'Arial', Helvetica, sans-serif;
	}
span#e1             { /* images/randsperk002001.j... */
	background      : transparent url(images/randsperk002001.jpg) no-repeat top left;
	position        : absolute;
	left            :   3.00pt;
	top             :  18.00pt;
	width           : 281.25pt;
	height          :  91.50pt;
	}
div#page            { /* Page Holder */
	position        : relative;
	width           : 745.50pt;
	height          :1162.50pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	text-align      : center;
	}



/*--- EndOfFile ---*/
